/* Body */

body{
    background-color: #D6E4FF;
}

/*Navbar*/
.GridNav{
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    position: relative;
    left: 15%;
}
.navbar li a{
    text-decoration: none;
    color: #8E8E8E;
    display: block;
    padding: 15px;
    background-color: #FFFFFF;
    transition: 0.7s all;
}
.navbar li{
    margin: 5px;
    margin-left: 20px;
}

.navbar li a:hover{
    color: black;
    transition: 0.7s all;
}

.navbar{
    background-color: white;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


.reseaux{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 10px;
}

/*Images*/
.NavImg{
    background-color: #FFFFFF;
    background: url(Images/logo-iut-metz.png) no-repeat center center;
    background-size: 100%;
}
.you{
    background: url(images/Youtube.png) no-repeat center center;
    background-size: 100%;
    padding:10px;
    margin: 1px;
}
.twitter{
    background: url(images/twitter.png) no-repeat center center;
    background-size: 100%;
    padding:10px;
    margin: 1px;
}
.facebook{
    background: url(images/facebook.png) no-repeat center center;
    background-size: 100%;
    padding:10px;
    margin: 1px;
}
.insta{
    background: url(images/instagram.png) no-repeat center center;
    background-size: 100%;
    padding:10px;
    margin: 1px;
}