/* Body */

body{
    background-color: #D6E4FF;
}

/*Navbar*/
.GridNav{
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar li a{
    text-decoration: none;
    color: #8E8E8E;
    display: block;
    padding: 15px;
    background-color: #FFFFFF;
    transition: 0.7s all;
}
.navbar li{
    margin: 5px;
    margin-left: 20px;
}

.navbar li a:hover{
    color: black;
    transition: 0.7s all;
}

.navbar{
    background-color: white;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.NavImg{
    background-color: #FFFFFF;
    background: url(Images/logo-iut-metz.png) no-repeat center center;
    background-size: 100%;
}